---
profile: true
---

<ul class="tabs">
  <li class="tab-link osx" data-tab="osx">Mac OS X</li>
  <li class="tab-link windows" data-tab="windows">Windows</li>
  <li class="tab-link linux" data-tab="linux">Linux</li>
</ul>

<div id="osx" class="tab-content">
  {% capture osx %}{% include osx.md %}{% endcapture %}
  {{ osx | markdownify }}
</div>

<div id="windows" class="tab-content">
  {% capture windows %}{% include windows.md %}{% endcapture %}
  {{ windows | markdownify }}
</div>

<div id="linux" class="tab-content">
  {% capture linux %}{% include linux.md %}{% endcapture %}
  {{ linux | markdownify }}
</div>

{% include footer.html %}
