---
profile: true
---

<p class="text-center cert-download">You can download the root certificate from <a href="{{ "assets/korcett-root-certificate.pem" | prepend: site.baseurl }}">here</a>.</p>
<span class="text-center cert-md5">MD5: 21de2527694edd202bed843cc02a0f85</span>

<ul class="tabs">
  <li class="tab-link osx" data-tab="osx">Mac OS X</li>
  <li class="tab-link windows" data-tab="windows">Windows</li>
  <li class="tab-link linux" data-tab="linux">Linux</li>
</ul>

<div id="osx" class="tab-content">
  {% capture osx %}{% include osx.md %}{% endcapture %}
  {{ osx | markdownify }}
</div>

<div id="windows" class="tab-content">
  {% capture windows %}{% include windows.md %}{% endcapture %}
  {{ windows | markdownify }}
</div>

<div id="linux" class="tab-content">
  {% capture linux %}{% include linux.md %}{% endcapture %}
  {{ linux | markdownify }}
</div>

<div class="text-center mt70">
  <a href="https://certificate-authority-test.korcett.com" class="button" target="_blank">Click here to test your certificate installation</a>
</div>

{% include footer.html %}
